/* UNIVERSAL STYLES */
* {
-fx-font-family: "Helvetica";
}

/*
Colours:
Menu background/ light purple: #B0A6FF
Character-pane background/ light pink: #F4E8FF
Dark purple: #4b37ce
disabled button: #978ee5

*%

/* GAME MENU */
.menu-container {
    -fx-background-color: #B0A6FF;
    -fx-padding: 20px;
}

.restart-button {
    -fx-background-color: #B0A6FF;
    -fx-text-fill: #4b37ce;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center; /* Center the text */
    -fx-border-width: 0; /* Remove the border */
    -fx-pref-width: 70px; /* Set preferred width */
    -fx-pref-height: 20px; /* Set preferred height */
    -fx-background-radius: 10; /* adjust this value to change the radius */
    -fx-border-radius: 10;
    -fx-border-color: #4b37ce;
    -fx-border-width: 2px; /* Sets the border width to 1 pixel */
    -fx-border-style: solid; /* Sets the border style to solid */
    }

.restart-button:hover {
    -fx-background-color: #4b37ce;
    -fx-text-fill: white;
    -fx-background-radius: 10; /* adjust this value to change the radius */
    -fx-border-radius: 10;
    -fx-cursor: hand;
}

.question-combo-box {
    -fx-font-size: 14px;
}

.question-combo-box:focused {
    -fx-focus-color: #B0A6FF; /* focus color */
}

.question-combo-box .list-view {
    -fx-background-color: #F4E8FF;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #F4E8FF;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #4b37ce; /* Background color on option when hovered */
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #4b37ce; /* Background color on option when selected */
    -fx-text-fill: white;
}

.question-combo-box .combo-box-base {
    -fx-background-color: #F4E8FF;
    -fx-text-fill: #4b37ce;
}

.question-combo-box .combo-box-base:hover {
    -fx-background-color: F4E8FF; /* Background color */
}


.ask-button {
    -fx-background-color: #4b37ce; /* Purple background color */
    -fx-text-fill: white; /* White text color */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-alignment: center; /* Center the text */
    -fx-border-width: 0; /* Remove the border */
    -fx-pref-width: 80px; /* Set preferred width */
    -fx-pref-height: 40px; /* Set preferred height */
    -fx-background-radius: 10; /* adjust this value to change the radius */
    -fx-border-radius: 10;
    }

.ask-button:hover {
    -fx-background-color: #B0A6FF;
    -fx-border-color: #4b37ce;
    -fx-border-width: 1px; /* Sets the border width to 1 pixel */
    -fx-border-style: solid; /* Sets the border style to solid */
    -fx-text-fill: #4b37ce;
    -fx-background-radius: 10; /* adjust this value to change the radius */
    -fx-border-radius: 10;
    -fx-cursor: hand;
}
/*jumps slightly on hover - fix later*/

.ask-button:disabled {
    -fx-background-color: #978ee5;
}

/* THE BOARD */
.board-container {
    -fx-background-color: white;
    -fx-padding: 20px;
}

.character-pane-container {
    /*-fx-border-color: black; /* Sets the border color to black */
    /*-fx-border-width: 1px; /* Sets the border width to 1 pixel */
    /*-fx-border-style: solid; /* Sets the border style to solid */
    -fx-background-color: #F4E8FF;
    -fx-background-radius: 10; /* adjust this value to change the radius */
}

.character-name {
    -fx-alignment: center;
    -fx-text-color: #A259FF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.character-pane {
}


.character-pane:hover .character-button {
    -fx-opacity: 1; /* Set opacity to 1 to show the button on hover */
}

.character-button {
    -fx-opacity: 0; /* Set opacity to 0 to hide the button */
    -fx-background-color: #4b37ce; /* Green background color */
    -fx-text-fill: white; /* White text color */
    -fx-alignment: center; /* Center the text */
    -fx-border-width: 0; /* Remove the border */
    -fx-pref-width: 75px; /* Set preferred width */
    -fx-pref-height: 20px; /* Set preferred height */
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.character-button:hover {
    -fx-background-color: #392d9b;
    -fx-cursor: hand;
}

.character-image {
    -fx-fit-width: 110px;
    -fx-fit-height: 110px;
}

/* Result display */
.result-container {
    -fx-background-color: #F4E8FF;
}

.result-message {
    -fx-background-color: #F4E8FF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
